In [1]:
import pandas as pd

In [2]:
# Load the dataset from the specified URL
url = r"C:\Users\rergu\OneDrive\IronHack\MiniProjects\football\appearances.csv"
df_appearances = pd.read_csv(url)

In [3]:
# Load the dataset from the specified URL
url = r"C:\Users\rergu\OneDrive\IronHack\MiniProjects\football\games.csv"
df_games = pd.read_csv(url)

In [8]:
# Load the dataset from the specified URL
url = r"C:\Users\rergu\OneDrive\IronHack\MiniProjects\football\teamstats.csv"
df_teamstats = pd.read_csv(url)

In [7]:
# Load the dataset from the specified URL
url = r"C:\Users\rergu\OneDrive\IronHack\MiniProjects\football\players.csv"
df_players = pd.read_csv(url, encoding="ISO-8859-1")

In [11]:
from sqlalchemy import create_engine

In [ ]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="xxxxx",
                               db="football"))

In [31]:
# Insert whole DataFrame into MySQL
df.to_sql('shots', con = engine, if_exists = 'append', chunksize = 1000)

324543

In [13]:
# Insert whole DataFrame into MySQL
df_appearances.to_sql('appearances', con = engine, if_exists = 'append', chunksize = 1000)

356513

In [14]:
# Insert whole DataFrame into MySQL
df_games.to_sql('games', con = engine, if_exists = 'append', chunksize = 1000)

12680

In [15]:
# Insert whole DataFrame into MySQL
df_players.to_sql('players', con = engine, if_exists = 'append', chunksize = 1000)

7659

In [16]:
# Insert whole DataFrame into MySQL
df_teamstats.to_sql('teamstats', con = engine, if_exists = 'append', chunksize = 1000)

25360